/* Header - Beginning */
.navbar-toggler:focus {
    color: $fifth-color;
    border: 1px $sixth-color solid;
}

.page-header{
    
    nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    
        /* Logo */
        .logo {
    
            img {
                width: 5rem;
                height: auto;
            }
        }
    
        /* Navigation */
        ul {
            order: 1;
            width: auto;
            display: flex;
            margin-top: 0;
            align-items: center;
    
            li {
    
                a {
                    color: #616A6B;
                    font-weight: bold;
    
                    &:hover {
                        color: $sixth-color;
                    }
                }
    
                .active{
                    color: $sixth-color;
                }
    
                &:not(:last-child) {
                    padding-right: 15px;
                }
            }
        }
    
        /* User profile */
        .user-profile {

            img {
                width: 30px;
            }
        }
    }
}

/* Media Querys */
@media screen and (max-width: 425px) {
    .page-header{

        nav {

            ul {
                flex-wrap: wrap;
                align-items: center;
                flex-direction: column;
                justify-content: space-between;

                li {

                    &:not(:last-child) {
                        padding-bottom: 15px;
                    }
                }
            }
        }
    }
}  

@media screen and (min-width: 768px) {
    .page-header {
        
        nav {
            
            ul {
                width: auto;
                margin-top: 0;
            }

            .user-profile {
                order: 1;
              }  
        }
    }
}

/* Header - End */